@model TecoBerBP.DataClasses.BPActivity

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort aktivitet</h2>

<h3>Är du säker på att du vill ta bort den här aktiviteten?</h3>
<div>
    <h4>Aktivitet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationUnit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-warning" /> |
            @Html.ActionLink("Tillbaka till lista", "Index")
        </div>
    }
</div>
