@model IEnumerable<TecoBerBP.DataClasses.BPRole>

@{
    ViewBag.Title = "Index";
}

<h2>Roller</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthenticationLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthenticationLevel)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.RoleId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.RoleId }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.RoleId })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Skapa ny roll", "Create")
</p>
