@model IEnumerable<TecoBerBP.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>Användare</h2>

<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLead)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cell)
        </td>    
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyLead)
        </td>                    
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Skapa ny användare", "Create")
</p>

