@model IEnumerable<TecoBerBP.ViewModels.UserActivityViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Utförda aktiviteter</h2>

<p>
    @Html.ActionLink("Skapa ny aktivitet", "Create")
</p>

<table class="table">    
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateForActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLead)
        </th>                                
        <th>            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateForActivity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyLead)
        </td>                
        <td>
            @Html.HiddenFor(model => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.UserActivityId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.UserActivityId }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.UserActivityId })
        </td>
    </tr>
}

</table>
